:root {
    --gold: #78663e;
    --gold-hoover: #56441c;
    --gold-light: #f5ce65;
    --gold-light-hover: #f7ef87;

    --bg-body: #34341c;
    --bg-column: #cfad66;

    --border-radius: 20px;

    --margin-mid: 20px;
}

body {
    background-color: var(--bg-body);
}

.container-main {
    margin-top: 100px !important;
}

.navbar-nav > button {
    margin: 0 8px;
}
