:root {
    --gold: #78663e;
    --gold-hoover: #56441c;
    --gold-light: #f5ce65;
    --gold-light-hover: #f7ef87;

    --bg-body: #34341c;
    --bg-column: #cfad66;

    --border-radius: 20px;

    --margin-mid: 20px;

    --error-color: rgb(168, 0, 0);
}

body {
    background-color: var(--bg-body);
    overflow-y: scroll !important;
    font-family: "Roboto";
}

.container-main {
    margin-top: 100px !important;
}

.navbar-nav > button {
    margin: 0 8px;
}

a {
    text-decoration: none !important;
}

.yellowContainer {
    position: relative;
}

.yellowContainer > * {
    background-color: var(--bg-column);
    min-height: 300px;
}

.selectContainer {
    display: flex;
    align-items: center;
    justify-content: start;
}

.selectContainer > span:first-child {
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
}

.emptyError {
    color: var(--error-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inputs100 input {
    max-width: 100px !important;
}

.inputs60 input {
    max-width: 60px !important;
}

.pb-150 {
    padding-bottom: 150px;
}
.unitsSelect {
    position: absolute;
    z-index: 1;
}

.text-center {
    text-align: center;
}

.flex-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.fullwidth {
    width: 100%;
}
