.upgradeContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 215px;
    height: auto;
    gap: 5px;
}

.upgradeContainer > div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50px;
    height: 40px;
    align-items: center;
    border: 1px solid var(--gold);
    border-radius: 3px;
}

.levelUpgradeContainer {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.levelUpgrade {
    border-bottom: 1px solid black;
}

.boldItem {
    font-weight: 600 !important;
}

.normalItem {
    opacity: 50%;
}
