.bg-gold {
    background-color: var(--gold) !important;
}

.color-light-gold {
    color: var(--gold-light) !important;
}

button.color-light-gold:hover,
a.color-light-gold:hover {
    color: var(--gold-light-hover) !important;
}

.categoryListContent {
    list-style: none;
    padding: 0;
}

.categoryListContent h5 {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoryListContent h5 > * {
    color: var(--gold-hoover);
    cursor: pointer;
}

.categoryListContent h5 > *:hover {
    color: var(--gold);
}

.adventureListUl {
    list-style: none;
    padding-left: 1rem;
}

.adventureListUl a {
    font-size: 12px;
    color: var(--gold-hoover);
}

.adventureListUl a:hover {
    color: var(--gold);
}

.adventureListUl > li:last-child {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .container-main > .row {
        flex-direction: column-reverse;
        gap: 20px;
    }
}
